@import "normalize.css";
@import "variables.scss";
@import "section-head.scss";
@import "section-offline.scss";
@import "section-catalog.scss";
@import "button.scss";
@import "section-partners.scss";
@import "section-actions.scss";

@font-face {
  font-family: SF-Display;
  src: url(../../public/fonts/sf-ui-display-light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: SF-Display;
  src: url(../../public/fonts/sf-ui-display-regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: SF-Display;
  src: url(../../public/fonts/sf-ui-display-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: SF-Display;
  src: url(../../public/fonts/sf-ui-display-bold.ttf);
  font-weight: 700;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: SF-Display;
  color: $color-text;
  font-weight: 400;
}


    .swiper {
      width: 100%;
      height: 100%;
    }
